
/* Colour schemes /*

#1a73e8 is the main colour code.

/* Forms */
#inputBio {
    border: none;
}
#inputDescription {
    border: none;
}
#inputPostalcode {
    text-transform: uppercase;
}

/* Avatar */

#avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center right;
}


