
/* Colour schemes /*

#1a73e8 is the main colour code.

/* Layout */

.row {
    margin-top: 1em;
}

.card {
    margin-bottom: 1em;
}

/* Forms */
#inputBio {
    border: none;
}
#inputDescription {
    border: none;
}
#inputPostalcode {
    text-transform: uppercase;
}

/* Avatar */

#avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center right;
}

#avatar:hover {
    opacity: 0.8;
}

/* Card with rooms */

.card-img-top {
    max-height: 100px;
}

#room_card h5 {
}

#room_card p {
    margin-bottom: 0px !important;
}

.material-icons {
    margin-left: 1em;
}


/* Carousel */

.carousel slide {
    max-height: 40px;
}
#carousel_slide {
    height: 20em;
    max-height: 20em;
}

/* Opt-in table */
#opt-in {
    margin-bottom: 0px;
}


